.title{
    color: #2b356b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ss{
    padding:20px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    
}

.search{
    margin-top: 10px;
padding-right:100px;
padding-bottom: 60px;
}



.studentsList{
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 3px;
    width: 700px;
    border-color: #2b356b;
    
    

}









.search a{
    color: #2b356b;
}

.search input{
    border-color: #2b356b;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 10px;
    width: 400px;
    margin-right: 92px;
    
    margin-bottom: 15px;


}



.searchStudent{
    border-color: #2b356b;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
   padding-left: 67px;
   padding-right: 67px;
   background-color: #7989e4;
   
}

.searchStudent:hover{
    transition: all 0.3s;
    background-color:#2b356b;
    color: #DDD;
}

